@import "tailwindcss";

@config '../tailwind.config.js';

@layer base {
  body {
    @apply mb-8 overflow-y-scroll tracking-normal bg-white dark:bg-zinc-900;
    font-family: -apple-system, system-ui, sans-serif, Roboto, "Noto Sans", "Segoe UI";
  }

  img {
    @apply mx-auto dark:filter dark:brightness-75;
  }

  /* iframe  */
  .embed {
    @apply relative w-full overflow-hidden pt-[56%];
  }

  figcaption {
    @apply text-center text-balance;
  }
}

@layer components {
  .blogIndex,
  .articleTitle,
  .tags,
  .social,
  .comments,
  p,
  blockquote,
  ol,
  ul,
  h1,
  h2,
  h3,
  h4,
  h5 {
    @apply max-w-3xl mx-auto px-4;
  }

  pre code {
    @apply block mx-auto overflow-x-auto max-w-3xl;
    counter-reset: line;
  }

  code {
    @apply break-words;
  }

  .line {
    @apply px-4;
  }

  .highlighted {
    @apply w-full inline-block transition-colors bg-[rgba(140,150,170,0.15)];
  }

  table,
  .gist,
  .projects {
    @apply max-w-3xl mx-auto;
  }

  .shiki {
    @apply mx-auto;
  }

  html.dark .shiki,
  html.dark .shiki span {
    color: var(--shiki-dark) !important;
    background-color: var(--shiki-dark-bg) !important;
  }

  h2 > a,
  h3 > a,
  h4 > a,
  h5 > a {
    @apply hover:after:content-["#"] hover:after:mx-2 hover:text-gray-400 cursor-pointer;
  }

  .sticky-header {
    @apply ease-out transition-transform duration-500 flex justify-between sticky 
   top-0 mt-10 z-50 backdrop-blur-lg bg-white/50 dark:bg-zinc-900/50;
  }

  details {
    @apply text-sm px-2 py-2 border-t-2 border-b-2 border-dashed border-zinc-200 dark:border-zinc-800;
  }

  summary {
    @apply cursor-pointer font-semibold;
  }
}
