@tailwind base;

@layer base {
  body {
    @apply mb-8 overflow-y-scroll tracking-normal;
    font-family:
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      ui-sans-serif,
      "Segoe UI",
      Roboto,
      "Helvetica Neue",
      "Noto Sans",
      sans-serif,
      "Segoe UI Emoji",
      "Segoe UI Symbol",
      "Noto Color Emoji";
  }

  img {
    @apply mx-auto dark:filter dark:brightness-75;
  }

  /* iframe  */
  .embed {
    @apply relative w-full overflow-hidden pt-[56%];
  }

  ::selection {
    @apply bg-yellow-300 bg-opacity-75;
  }

  @media (prefers-color-scheme: dark) {
    ::selection {
      @apply bg-pink-300 bg-opacity-75;
    }
  }
}

@tailwind components;

@layer components {
  /* margin all content except media like images */
  .blogIndex,
  .articleTitle,
  p,
  blockquote,
  ul,
  h1,
  h2,
  h3,
  h4,
  h5 {
    @apply mx-4;
  }

  p:has(img),
  p:has(span),
  li > p {
    @apply mx-0;
  }

  code {
    @apply break-words;
  }

  details:has(pre) pre {
    @apply -mx-4;
  }

  h2 > a,
  h3 > a,
  h4 > a,
  h5 > a {
    @apply hover:after:content-["#"] hover:after:mx-2 hover:text-gray-400 cursor-pointer;
  }

  details {
    @apply text-sm px-4 py-2 border-t-2 border-b-2 border-dashed border-zinc-200 dark:border-zinc-800;
  }

  summary {
    @apply cursor-pointer font-semibold;
  }
}

@tailwind utilities;
