@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@500&display=swap");

@tailwind base;

@layer base {
  body {
    @apply my-8 mx-auto max-w-3xl;
  }

  img {
    @apply mx-auto;
  }
}

@tailwind components;

@layer components {
  .vertical {
    @apply w-full overflow-auto noto-serif;
    writing-mode: vertical-rl;
  }

  .noto-serif {
    font-family: "Noto Serif SC", ui-serif, Georgia, Cambria, Times, serif;
    font-display: optional;
  }

  .vertical p,
  .vertical h3 {
    @apply my-0 px-2;
  }

  .vertical img {
    @apply mx-6;
  }
}

@tailwind utilities;
