@tailwind base;

@layer base {
  body {
    @apply my-8 mx-auto max-w-3xl;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
      "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", sans-serif,
      "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  }

  img {
    @apply mx-auto dark:filter dark:brightness-75;
  }

  /* iframe  */
  .embed {
    @apply relative w-full overflow-hidden pt-[56%];
  }

  iframe {
    @apply absolute w-full h-full top-0 border-none;
  }
}

@tailwind components;

@layer components {
  /* margin all content except media like images */
  .blogIndex,
  .articleTitle,
  p,
  blockquote,
  ul,
  h1,
  h2,
  h3,
  h4,
  h5 {
    @apply mx-4;
  }

  p:has(img),
  li > p {
    @apply mx-0;
  }

  h2 a,
  h3 a,
  h4 a,
  h5 a {
    @apply hover:after:content-['#'] hover:after:mx-2 hover:after:text-gray-400;
  }
}

@tailwind utilities;
