@tailwind base;

@layer base {
  body {
    @apply mb-8 overflow-y-scroll tracking-normal bg-white dark:bg-zinc-900;
    font-family: -apple-system, system-ui, sans-serif, Roboto, "Noto Sans", "Segoe UI";
  }

  img {
    @apply mx-auto dark:filter dark:brightness-75;
  }

  /* iframe  */
  .embed {
    @apply relative w-full overflow-hidden pt-[56%];
  }

  ::selection {
    @apply bg-yellow-300 bg-opacity-70;
  }

  @media (prefers-color-scheme: dark) {
    ::selection {
      @apply bg-pink-300 bg-opacity-50;
    }
  }

  figcaption {
    @apply text-center text-balance;
  }

  /* code block styles */
  .prose pre {
    @apply px-0 text-current;
  }

  pre code span[data-line=""] {
    @apply px-4;
  }

  code[data-theme*=" "],
  code[data-theme*=" "] span {
    color: var(--shiki-light);
    background-color: var(--shiki-light-bg);
  }

  @media (prefers-color-scheme: dark) {
    code[data-theme*=" "],
    code[data-theme*=" "] span {
      color: var(--shiki-dark);
      background-color: var(--shiki-dark-bg);
    }
  }

  code > [data-line]::before {
    counter-increment: line;
    content: counter(line);
    display: none;
    width: 1rem;
    margin-right: 1rem;
    text-align: right;
    color: gray;
  }

  code[data-line-numbers-max-digits="1"] > [data-line]::before {
    display: inline-block;
  }
  code[data-line-numbers-max-digits="2"] > [data-line]::before {
    display: inline-block;
  }

  span[data-highlighted-line=""] {
    @apply bg-zinc-200 dark:bg-zinc-700 !important;
  }
}

@tailwind components;

@layer components {
  .blogIndex,
  .articleTitle,
  .tags,
  .social,
  .comments,
  p,
  blockquote,
  ol,
  ul,
  h1,
  h2,
  h3,
  h4,
  h5 {
    @apply max-w-3xl mx-auto px-4;
  }

  code {
    @apply break-words mx-auto overflow-x-auto max-w-3xl;
    counter-reset: line;
  }

  table,
  .gist,
  .projects {
    @apply max-w-3xl mx-auto;
  }

  h2 > a,
  h3 > a,
  h4 > a,
  h5 > a {
    @apply hover:after:content-["#"] hover:after:mx-2 hover:text-gray-400 cursor-pointer;
  }

  .sticky-header {
    @apply ease-out transition-transform duration-500 flex justify-between sticky 
   top-0 mt-10 z-50 backdrop-blur-lg bg-white/50 dark:bg-zinc-900/50;
  }

  details {
    @apply text-sm px-2 py-2 border-t-2 border-b-2 border-dashed border-zinc-200 dark:border-zinc-800;
  }

  summary {
    @apply cursor-pointer font-semibold;
  }
}

@tailwind utilities;
