name: Lint

on:
  pull_request:
    branches: [main]

jobs:
  lint:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [24.x]
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v6

      - name: Install pnpm
        uses: pnpm/action-setup@v4.2.0
        with:
          version: 10
          run_install: true

      - name: Run lint
        run: pnpm lint
