# Github Actions
name: Format & Lint

on:
  push:
    branches: [main]

permissions:
  actions: write
  contents: write
  pull-requests: write

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [22.x]
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v6

      - uses: pnpm/action-setup@v4.2.0
        name: Install pnpm
        id: pnpm-install
        with:
          version: 10
          run_install: true

      - name: Format & Lint
        run: |
          pnpm fmt
          pnpm lint
      - uses: stefanzweifel/git-auto-commit-action@v7
        with:
          commit_message: "chore: auto-format code style [ci skip]"
          file_pattern: ":/*.*"
          commit_user_name: github-actions[bot]
          commit_user_email: github-actions[bot]@users.noreply.github.com
          commit_author: github-actions[bot] <github-actions[bot]@users.noreply.github.com>
