name: WebSub
# example: https://vercel.com/guides/how-can-i-run-end-to-end-tests-after-my-vercel-preview-deployment
on:
  deployment_status:

jobs:
  websub:
    if: github.event_name == 'deployment_status' && github.event.deployment_status.state == 'success' && github.event.deployment.environment == 'production'
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [22.x]
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v6
      - uses: pnpm/action-setup@v4.2.0
        name: Install pnpm
        id: pnpm-install
        with:
          version: 10
          run_install: true
      - name: Post WebSub
        run: pnpm websub
